*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a{
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
  
}
.wrapper{
    /* background: gold; */
    width: 80%;
    margin: 0 auto;
}

/* menubar */
header{
    background: #fff;
    position: sticky;
    top: 0;
}
.navbar {
    /* background: blue; */
    width: 80%;
    height:90px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.menu{
    flex-grow: 1;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    padding-right: 7rem;
    gap: 3rem;
}
.logo{
    color: #3a3a3a;
    font-weight: 700;
    font-size: 2.4rem;
}
.navigation>li>a{
    color: #3a3a3a;
    font-weight:600;
    font-size: 1.6rem;
}

/* hero section */
#hero {
    margin-top: 10rem;
    display: flex;
    margin-bottom: 8rem;
}


.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
}
.hero-content__btn{
    width: 20rem;
    padding: 1.2rem 10px;
    background: #E02C6D;
    color: #fff;
    outline:none;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.7rem;
}
.hero-content__title{
    font-size: 5.2rem;
    width:70%;
}
.hero-content__content{
    font-size: 1.6rem;
    width: 60%;
}
.hero-images>img{
    /* background: #F1E4FF; */
    border: 1px solid #F1E4FF;
    border-radius: 50%;
    padding:1rem;
    
}
.hero-images:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}



#logo {
    display:flex;
    justify-content: center;
    gap:8rem;
    flex-wrap: wrap;
    border-top: 1px solid #F1E4FF;
    border-bottom: 1px solid #F1E4FF;
    padding: 2rem;
    margin-bottom: 10rem;
}

/* popular collection */

#popular{
    text-align: center;
    margin-bottom: 15rem;
  
}
#popular>h2{
    font-size: 2.8rem;
    margin-bottom: 5rem;
}
.popular{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}
.card{
    background: #fff;
    padding:2rem;
    width:35.5rem;
    height: 47.6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}
.card__img{
    overflow: hidden;
}
.card__img:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}
.card__title{
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card__price{
    font-size: 2.4rem;
    font-weight: 500;
}
.card__rating{
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    margin-top: 2rem;
}
.rating{
    font-size: 1.4rem;
}
.card__content{
    font-size: 1.4rem;
    color: #3a3a3a;
}
.fa-star,.fa-star-half{
    color: orange;
}
.popular__btn{
   width: 70%;
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}
.popular-content__btn{
    outline: none;
    border: none;
    color: #E02C6D;
    background: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .7rem;
}
/* featured */
#featured{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.featured-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.featured-content__title{
    font-size: 3.8rem;
    font-weight: 700;
}
.featured-content__content{
    width:70%;
    font-size: 1.6rem;
}
.featured-content__btn{
    width: 15rem;
    padding: 1.2rem .5rem;
    background: #E02C6D;
    color: #fff;
    outline:none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}
/* footer */
#footer {
    background: #0A0826;
    color: #fff;
    width: 100vw;
    height:24rem;
    display: flex;
    justify-content: center;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 1.2rem;
}
.footer-content__title{
    font-size: 2.4rem;
    font-weight: 700;
}
.footer-content__copy{
    font-size: 1.4rem;
    font-weight: 500;
}
.footer-content__content{
    font-size: 1.4rem;
    font-weight: 500;
}
.footer-content__social{
    font-size: 2.6rem;
    display: flex;
    gap: 2rem;
}
.icons{
    border-radius:50%;
    padding: 5px;
}
.icons:hover{
    border: 2px solid deeppink;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}

/* mobile screen */

@media screen and (max-width:992px){
    .wrapper{
        padding:2rem;
        margin: 0 auto;
    }
    .menu{
        display:none;
    }
    .hero-images__img{
        width: 80%;
        margin-bottom: 10rem;
    }
    #hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-content{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        padding-top: 4rem;
    }
    .hero-content__title{
        width: 100%;
        font-size: 2.8rem;
    }
    .hero-content__content{
        width: 100%;
    }
    .hero-content__btn{
        text-align: center;
        width:50%;
        margin:0 auto;
    }
    #logo{
        display:flex;
        flex-direction: column;
    }
    #featured{
        display: flex;
        flex-direction: column-reverse;
    }
    .featured-images__img{
        padding: 2rem;
    }
    
}

